@using GestionLogisticaBackend.DTOs.Usuario
@using Microsoft.Extensions.Caching.Memory
@using Service.Enums
@using Shared.DTOs.Usuario
@inject FirebaseAuthService _firebaseAuthService
@inject NavigationManager _navigationManager
@inject IUsuarioService _usuarioService
@inject IMemoryCache _cacheMemory
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">📦 Gestión Logística</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (_isLogued)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-house-door-fill nav-icon" aria-hidden="true"></i> Inicio
                </NavLink>
            </div>
        }
        @if (_usuarioLogueado != null && (_usuarioLogueado.TipoRol == TipoRolEnum.Admin))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/envios">
                    <i class="bi bi-box-seam-fill nav-icon" aria-hidden="true"></i> Envíos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/clientes">
                    <i class="bi bi-people-fill nav-icon" aria-hidden="true"></i> Clientes
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/conductores">
                    <i class="bi bi-person-badge-fill nav-icon" aria-hidden="true"></i> Conductores
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/ubicaciones">
                    <i class="bi bi-geo-alt-fill nav-icon" aria-hidden="true"></i> Ubicaciones
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/vehiculos">
                    <i class="bi bi-truck-front-fill nav-icon" aria-hidden="true"></i> Vehículos
				</NavLink>
			</div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/tiposcarga">
                    <i class="bi bi-boxes nav-icon" aria-hidden="true"></i> Tipos de Carga
                </NavLink>
            </div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <i class="bi @loginIcon nav-icon" aria-hidden="true"></i> @textBtnLogin
            </NavLink>
        </div>
    </nav>
</div>

@code {
    FirebaseUser? _userLogued;
    bool _isLogued = false;
    UsuarioDto? _usuarioLogueado;
    private string textBtnLogin => _isLogued ? "Cerrar sesión" : "Iniciar sesión";
    private string loginIcon => _isLogued ? "bi-box-arrow-right" : "bi-box-arrow-in-right";

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _firebaseAuthService.OnChangeLogin += LoginChanged;
            if (await _firebaseAuthService.IsUserAuthenticated())
            {
                _userLogued = _firebaseAuthService.CurrentUser;
                _isLogued = true;
                if (_usuarioLogueado == null) await CargarUsuarioAsync();
            }
            else
            {
                _isLogued = false;
                _userLogued = null;
            }
            StateHasChanged();
        }
    }

    private async Task CargarUsuarioAsync()
    {
        try
        {
            if (!string.IsNullOrWhiteSpace(_userLogued?.Email))
            {
                _usuarioLogueado = await _usuarioService.GetUserByEmailAsync(_userLogued.Email);
                Console.WriteLine($"Usuario cargado: {_usuarioLogueado?.Email}, TipoRol: {_usuarioLogueado?.TipoRol}");
                if (_usuarioLogueado != null)
                {
                    _cacheMemory.Set("usuarioLogueado", _usuarioLogueado);
                }
            }
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine(ex);
        }
    }

    private async void LoginChanged()
    {
        if (_firebaseAuthService.CurrentUser != null)
        {
            _userLogued = _firebaseAuthService.CurrentUser;
            _isLogued = true;
            if (_usuarioLogueado == null) await CargarUsuarioAsync();
        }
        else
        {
            _isLogued = false;
            _userLogued = null;
        }
        StateHasChanged();
    }
}