@using GestionLogisticaBackend.DTOs.Usuario
@using Microsoft.Extensions.Caching.Memory
@using Service.Enums
@using Shared.DTOs.Usuario
@inject FirebaseAuthService _firebaseAuthService
@inject NavigationManager _navigationManager
@inject IUsuarioService _usuarioService
@inject IMemoryCache _cacheMemory
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (_isLogued)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>
        }
        @if (_usuarioLogueado != null && (_usuarioLogueado.TipoRol == TipoRolEnum.Admin))
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/envios">
                    <span class="bi bi-truck me-2" aria-hidden="true"></span>Envios
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/clientes">
                    <span class="bi bi-people me-2" aria-hidden="true"></span>Clientes
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/conductores">
                    <span class="bi bi-truck me-2" aria-hidden="true"></span>Conductores
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/ubicaciones">
                    <span class="bi bi-truck me-2" aria-hidden="true"></span>Ubicaciones
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin/vehiculos">
                    <span class="bi bi-truck me-2" aria-hidden="true"></span>Vehiculos
				</NavLink>
			</div>
        }
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-login" aria-hidden="true"></span> @textBtnLogin
            </NavLink>
        </div>
    </nav>
</div>

    @code {
        FirebaseUser? _userLogued;
        bool _isLogued = false;
        UsuarioDto? _usuarioLogueado;
        private string textBtnLogin => _isLogued ? "Cerrar sesión" : "Iniciar sesión";

        protected async override Task OnAfterRenderAsync(bool firstRender)
        {
            if (firstRender)
            {
                //_firebaseAuthService.OnChangeLogin += async () => await InvokeAsync(LoginChangedAsync);
                _firebaseAuthService.OnChangeLogin += LoginChanged;
                if (await _firebaseAuthService.IsUserAuthenticated())
                {
                    _userLogued = _firebaseAuthService.CurrentUser;
                    _isLogued = true;
                    if (_usuarioLogueado == null) await CargarUsuarioAsync();
                }
                else
                {
                    _isLogued = false;
                    _userLogued = null;
                    _navigationManager.NavigateTo("/login");

                }
            }
        }

        private async Task CargarUsuarioAsync()
        {
            try
            {
                if (!string.IsNullOrWhiteSpace(_userLogued?.Email))
                {
                    _usuarioLogueado = await _usuarioService.GetUserByEmailAsync(_userLogued.Email);
                    Console.WriteLine($"Usuario cargado: {_usuarioLogueado?.Email}, TipoRol: {_usuarioLogueado?.TipoRol}");
                    if (_usuarioLogueado != null)
                    {
                        _cacheMemory.Set("usuarioLogueado", _usuarioLogueado);
                    }
                }
            }
            catch (Exception ex)
            {
                Console.Error.WriteLine(ex);
            }
        }

        private async void LoginChanged()
        {
            if (_firebaseAuthService.CurrentUser != null)
            {
                _userLogued = _firebaseAuthService.CurrentUser;
                _isLogued = true;
                if (_usuarioLogueado == null) await CargarUsuarioAsync();

            }
            else
            {
                _isLogued = false;
                _userLogued = null;
                _navigationManager.NavigateTo("/login");
            }
            StateHasChanged();
        }
    }